body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    padding: 20px 40px;
}
section {
    padding-left: 200px;

}
h1 {
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: left;
    font-family: 'Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Segoe UI',serif;
}
footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

article {
    padding: 20px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
}
article a:hover {
    background-color: darkgray;
}
article p {
    font-size: 14px;
}
article h2 {
    color: #333333;
}
button {
    font-size: 15px;
    text-align: center;
    margin: 50px;
    margin-left: 200px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.spacing {
    background-color: aliceblue;
    height: 250px;
}