body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    padding: 20px 40px;
}
.boody {
    padding-left: 200px;
}
@media (max-width: 550px) {
    .boody {
        padding-left: 30px;
    }
}

.search-box {
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
.search-box input[type="text"] {
    padding: 10px;
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  
.search-box input[type="text"]::placeholder {
    color: #999;
  }


h1 {
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: left;
    font-family: 'Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
    font-size: 30px;
}
p{
    font-family: 'Segoe UI',serif;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}


article {
    padding: 20px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
}
article a {
    font-family: 'Avenir Next','Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
    font-weight: bold;
}

article p {
    font-size: 14px;
}
article h2 {
    color: #333333;
}
button {
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.spacing {
    background-color: aliceblue;
    height: 250px;
}

.eseenuud button{
    margin: 10px;
    margin-bottom: 100px;
}
.boody button {
    margin-bottom: 70px;
}