body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    padding: 20px 40px;
}
section {
    padding-left: 200px;

}
h1 {
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

article {
    padding: 20px;
    padding-left: 50px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
}
article a:hover {
    background-color: darkgray;
}
article p {
    font-size: 14px;
}
article h2 {
    color: #333333;
}
button {
    font-size: 15px;
    text-align: center;
    margin: 50px;
    margin-left: 200px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 10px;
}
button:hover {
    background-color: aliceblue;
    transform: scale(1.1); 
}