body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    padding: 20px 40px;
}
section {
    padding-left: 200px;
    padding-right: 200px;

}
h1 {
    padding: 30px;
    text-align: center;
}
h2 {
    padding: 10px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}